<form action="#" th:action="@{/empleados/update}"
	th:object="${empleado}" method="post">
	<input type="hidden" th:field="*{idPersona}" />
	</p>
	<p> Nombre: <input type="text" th:field="*{nombre}" /> </p>
	<p> Apellido: <input type="text" th:field="*{apellido}" /> </p>
	<p> Fecha de Nacimiento: <input type="date" th:field="*{fechaDeNacimiento}" /> </p>
	<p> DNI: <input type="number" th:field="*{dni}" /> </p>
	<p> Franja Horaria: <input type="text" th:field="*{franjaHoraria}" /> </p>
	<p> Tildar si el empleado es gerente: <input type="checkbox" th:field="*{esGerente}" /> </p>
	<p> elegir Local: </p>
	<select placeholder="Local" th:field="*{local.idLocal}">
	<option th:each="l: ${locales}" th:value="${l.idLocal}" th:text="${l.direccion}"></option>
	</select>
	<br/>
	 <input type="submit" value="Edit" />
</form>
<br/>
<form action="#"
	th:action="@{/empleados/delete/{id}(id=${empleado.idPersona})}"
	method="post">
	<input type="submit" value="Delete Empleado" />
</form>

    <br/>
	<br/>
	<br/>
	<a th:href="@{/home}"> Volver al home</a>