<!DOCTYPE html>
<html>
<head>
<title>Stock</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>idStock</th>
				<th>cantidad</th>
				<th>lotes</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="stock : ${stocks}">
				<td><span th:text="${stock.idStock}" /></td>
				<td><span th:text="${stock.cantidad}" /></td>
				<td><span th:text="${stock.lotes}" /></td>
				<td><a th:href="@{/stocks/{id}(id=${stock.idStock})}">Ver</a></td>
	
			</tr>
		</tbody>
	</table>

	<a th:href="@{/stocks/new}">agregar</a>

</body>

</html>
