<!DOCTYPE html>
<html>
<head>
<title>Stock</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>idStock</th>
               <th>Local</th>				
				<th>cantidad</th>
				<th>lotes</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="stock : ${stocks}">
				<td><span th:text="${stock.idStock}" /></td>
				<td><span th:text="${stock.local.direccion}" /></td>
				<td><span th:text="${stock.cantidad}" /></td>
				<td><select><option th:each="sl: ${stock.lotes}" th:value="${sl.idLote}" th:text="${sl.cantidadActual}+'<->'+${sl.producto.nombre}"></select></td>	
			</tr>
		</tbody>
	</table>

</body>

</html>

<!-- 
<select placeholder="stock.lotes"	th:field="*{stock.lotes.idLote}">
	<option th:each="l: ${stock.lotes}"	th:text="${l.Producto.nombre}"></option>
</select>
			
 -->