<!DOCTYPE html>

<html>
	<head>
	<title>Carga de datos</title>
	</head>
  <body>
	<form action="#" th:action="@{/stocks/create}" th:object="${stock}" method="post">
		
		<!--  <p> Cantidad: <span th:text="${lote.idLote}"/> </p> --> 
		
		<p> Lotes:  
		    <select placeholder="Lote" th:field="*{lotes}"> <!-- la lista deberia mostrar el nomnbre del producto de ese lote -->
				<option th:each="l: ${lotes}" th:value="${l.idLote}" th:text="${l.idLote}"></option>
			</select> </p>
		<br/>
		<br/>
		<input type="submit" value="Agregar"/>
	</form>
  </body>
</html>