<!DOCTYPE html>

<html>
<head>
<title>Ver/modificar datos</title>
</head>
<body>
	<form action="#" th:action="@{/stocks/update}" th:object="${stock}" method="post">
		<input type="hidden" th:field="*{idStock}" />

		
		<p>
.			Lotes: <select placeholder="lotes" th:field="*{lotes}">
				<option th:each="l: ${lotes}" th:value="${l.idLote}"
					th:text="${l.idLote}"></option>
			</select>
		</p>
		
		<input type="submit" value="Edit" />

	</form>
    <br /> 
	<form action="#"
		th:action="@{/stocks/delete/{id}(id=${stock.idStock})}"
		method="post">
		<input type="submit" value="Delete Stock" />
	</form>
</body>
</html>