<!DOCTYPE html>
<html>
<head>
<title>Pedido</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>idPedido</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Cliente</th>
				<th>Vendedor Original</th>
				<th>Vendedor Auxiliar</th>
				<th>Aceptado?</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="pedido : ${pedidos}">
				<td><span th:text="${pedido.idPedido}" /></td>
				<td><span th:text="${pedido.Producto.nombre}" /></td>
				<td><span th:text="${pedido.cantidad}" /></td>
				<td><span th:text="${pedido.Cliente.nombre}" /></td>
				<td><span th:text="${pedido.vendedorOriginal.nombre}" /></td>
				<td><span th:if="${pedido.vendedorAuxiliar}" th:text="${pedido.vendedorAuxiliar.nombre} +' '+ ${pedido.vendedorAuxiliar.apellido}" /></td>
				<td><span th:text="${pedido.aceptado}" /></td>
				<td><a th:href="@{/pedidos/{id}(id=${pedido.idPedido})}">Ver</a></td>
	
			</tr>
		</tbody>
	</table>

	<a th:href="@{/pedidos/new}">agregar</a>

</body>

</html>

