<!DOCTYPE html>

<html>
<head>
<title>Ver/modificar datos</title>
</head>
<body>
	<form action="#" th:action="@{/pedidos/update}" th:object="${pedido}"
		method="post">
		<input type="hidden" th:field="*{idPedido}" />

		<p>
			Producto: <select placeholder="Producto"
				th:field="*{producto.idProducto}">
				<option th:each="p: ${productos}" th:value="${p.idProducto}"
					th:text="${p.nombre}"></option>
			</select>
		</p>
		<p>
			Cantidad: <input type="number" th:field="*{cantidad}" />
		</p>

		<p>
			Cliente: <select placeholder="Cliente"
				th:field="*{cliente.idPersona}">
				<option th:each="c: ${clientes}" th:value="${c.idPersona}"
					th:text="${c.nombre} +' '+ ${c.apellido}"></option>
			</select>
		</p>

		<p>
			Vendedor Original: <select placeholder="Empleado"
				th:field="*{vendedorOriginal.idPersona}">
				<option th:each="e: ${empleados}" th:value="${e.idPersona}"
					th:text="${e.nombre} +' '+ ${e.apellido}"></option>
			</select>
		</p>

		<p>
			Vendedor Auxiliar: <select placeholder="Empleado"
				th:field="*{vendedorAuxiliar.idPersona}">
				<option th:each="e: ${empleados}" th:value="${e.idPersona}"
					th:text="${e.nombre} +' '+ ${e.apellido}"></option>
			</select>
		</p>
		<p> Elija el Local:  
		    <select placeholder="Local" th:field="*{local.idLocal}">
				<option th:each="l: ${locales}" th:value="${l.idLocal}" th:text="${l.idLocal}"></option>
		  	</select> 
		</p>			  
		<p>
			Aceptado?: <input type="checkbox" th:field="*{aceptado}" />
		</p>
		<br /> <input type="submit" value="Edit" />
	</form>
    <br /> 
	<form action="#"
		th:action="@{/pedidos/delete/{id}(id=${pedido.idPedido})}"
		method="post">
		<input type="submit" value="Delete Pedido" />
	</form>
	
	
<br/>
<br/>
<br/>
<table>
	<thead>
		<tr>
			<th>idLocal</th>
			<th>Nombre/Direccion</th>
			<th>Distancia desde el que se consulta</th>
		</tr>

	</thead>
	<tbody>
		<tr th:each="local : ${localesOrd}">
    		<td><span th:text="${local.idLocal}"/></td>
			<td><span th:text="${local.direccion}"/></td>
			<td><span th:text="${local.latitud}"/></td>
		</tr>
	</tbody>
</table>
	

    <br/>
	<br/>
	<br/>
	<a th:href="@{/home}"> Volver al home</a>	
	
</body>
</html>