<form action="#" th:action="@{/locales/update}"
	th:object="${local}" method="post">
	<input type="hidden" th:field="*{idLocal}" />
	</p>
	<p> Direccion: <input type="text" th:field="*{direccion}" /> </p>
	<p> Latitud: <input type="number" th:field="*{latitud}" /> </p>
	<p> Longitud: <input type="number" th:field="*{longitud}" /> </p>
	<p> Telefono: <input type="tel" th:field="*{telefono}" /> </p>
	<input type="submit" value="Edit" />
</form>

<form action="#"
	th:action="@{/locales/delete/{id}(id=${local.idLocal})}"
	method="post">
	<input type="submit" value="Delete Local" />
</form>
<br/>
<p>PARTE NO EDITABLE</p>
     <table>
  <tr>
    <th>|--|Stoks total |--|  </th>
    <th>Detalle del stock (lotes de productos)</th>
  </tr>
  <tr>
    <td><span th:text="'|-----|'+${stock}+'|------|'" /></td>
    <td><select><option th:each="ls: ${lotes}" th:value="${ls.idLote}" th:text="${ls.producto.nombre}+'  '+${ls.cantidadActual}+' unidades '"></select></td>
  </tr>
</table>


<br/>
<br/>
<br/>
<table>
	<thead>
		<tr>
			<th>idLocal</th>
			<th>Nombre/Direccion</th>
			<th>Distancia desde el que se consulta</th>
		</tr>

	</thead>
	<tbody>
		<tr th:each="local : ${localesCer}">
    		<td><span th:text="${local.idLocal}"/></td>
			<td><span th:text="${local.direccion}"/></td>
			<td><span th:text="${local.latitud}"/></td>
		</tr>
	</tbody>
</table>
    <br/>
	<br/>
	<br/>
	<a th:href="@{/home}"> Volver al home</a>



