<!DOCTYPE html>
<html>
<head>
<title>Lote</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>idLote</th>
				<th>Producto</th>
				<th>CantidadInicial</th>
				<th>CantidadActual</th>
				<th>FechaIngreso</th>
				<th>Estado</th>
				<th>Local</th>
				
			</tr>

		</thead>
		<tbody>
			<tr th:each="lote : ${lotes}">
				<td><span th:text="${lote.idLote}" /></td>
				
				<td><span th:text="${lote.Producto.nombre}" /></td> 
			
				<td><span th:text="${lote.cantidadInicial}" /></td>
				<td><span th:text="${lote.cantidadActual}" /></td>
				<td><span th:text="${lote.fechaIngreso}" /></td>
				<td><span th:text="${lote.estado}" /></td>
				<td><span th:text="${lote.Local.idLocal}" /></td>
				<td><a th:href="@{/lotes/{id}(id=${lote.idLote})}">Ver</a></td>
	
			</tr>
		</tbody>
	</table>
    <br/>
	<a th:href="@{/lotes/new}">agregar</a>

    <br/>
	<br/>
	<br/>
	<a th:href="@{/home}"> Volver al home</a>
</body>

</html>

